.background-ex{
    width: 1440px;
height: 415px;
/* background: linear-gradient(255.46deg, #F74242 18.86%, #DE5D34 40.83%, #FFBC39 82.55%); */
background: linear-gradient(255.46deg, #FFBC39 18.86%, #DE5D34 40.83%, #F74242 82.55%);
}
.row.img-gap{
    display: grid;
}
.topimg2{
    margin-top: 12px;
}
.topimg{
    margin-top: 100px;
}
.explore-art{
    margin-top: 200px;
    margin-left: 100px;
}
.explore-para{
    margin-left: 100px;
}
.button-see{
    align-items: center;
    margin-top: 20px;
    width: 120.51px;
    height: 50.04px;
    border: 1px solid #6A6A6A;
    border-radius: 15px;
}
.see-more-button{
    text-align: center;
    margin-top: 30px;
}
.cards-explore-inside{
    width: 35rem;
}
.hot-section{
    margin-left: 75px;
}