button#simple-tab-2 {
    font-family: 'Futura Maxi CG Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px !important;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #faf6f6;
}
