.icon {
    display: flex;
    list-style-type: none;
    justify-content: start;
  }
  .icon li {
    margin: 10px;
    font-size: 1.5rem;
  }
  /* .icon li :hover{
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  } */
  .signup {
    font-size: 1.2rem;
    /* padding: 10px 20px; */
    height: 38px;
    width: 130px;
    font-weight: 700;
    color: #000 !important;
    background: #fec200 !important;
    border: none;
    border-radius: 10px;
    /* border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important; */
  }
  .signup:hover {
    background-color: #4c91d6 !important;
  }
  .form-control22 {
    padding: 8px !important;
    border-radius: 10px !important;
    background-color: #6a6769 !important;
    border: none !important;
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 600;
    margin-right: 15px;
    width: 100%;
  }
  .twitter-icons {
    background: #fff;
    color: #000;
    border-radius: 5px;
    padding: 1rem;
  }
  .join-header {
    margin-left: 20px;
    font-size: 2rem;
  }
  .origins-head {
    font-size: 2rem;
  }
  input::placeholder {
    font-size: 1.2rem !important;
  }
  .input-group {
    width: 55% !important;
    margin: none !important;
  }
  .footer2-list {
    list-style-type: none;
  }
  .input-group1 {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: stretch;
    width: 70% !important;
  }
  
  ul.footer2-list {
    padding-inline-start: 0px !important;
  }
  ul.footer2-list li:hover {
    font-size: 1.3rem;
    cursor: pointer;
  }
  ul.footer2-list li {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  .keep-head {
    font-size: 2rem;
  }
  .subs-para {
    font-size: 1.2rem;
  }
  .list-heading {
    margin: 16px 0px;
    font-size: 2rem;
  }
  .origins-para {
    font-size: 1.2rem;
  }
  .logo-icon {
    width: 3rem;
  }
  
  @media screen and (max-width: 768px) {
    
    .list-heading {
      text-align: left;
    }
    .icon {
      justify-content: space-around;
    }
    h3.join-header {
      margin-left: 0px;
  }
  ul.icon {
    justify-content: space-between;
  }
  }
  @media screen and (max-width: 992px) {
    .footer-opensea {
      text-align: center;
    }
  }
  @media screen and (max-width:912px) {
    h5.origins-head {
      text-align: justify;
  }
  p.origins-para {
    text-align: justify;
  }
  div#foter21 {
    margin-bottom: 0rem;
  }
    
  }
  @media screen and (max-width: 512px) {
    .icon {
      padding-inline-start: 0px;
      justify-content: space-evenly;
    }
  }
  .icon {
    padding-inline-start: 0px;
  }
  
  @media screen and (max-width: 550px) {
    .icon li {
      margin: 0.4rem;
    }
    .twitter-icons {
      padding: 0.4rem;
    }
    .input-group1 {
      position: relative;
      display: flex;
      /* flex-wrap: wrap; */
      align-items: stretch;
      width: 100% !important;
    }
  }
  #foter21 {
    margin-bottom: 5rem;
  }
  @media screen and (max-width: 1024px) {
    .profile-fo {
      margin-left: 40px;
    }
  }
  @media screen and (max-width: 425px) {
    .profile-fo {
      margin-left: 1px;
    }
  }
  /* @media screen and (max-width:414px) {
    .profile-fo{
      margin-left: none !important;
    }
    
  } */
  