@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

img.safu-img {
  width: 250px;
  margin: 50px 30px 20px;
}

img.game-img {
  width: 250px;
  display: block;
  margin-right: auto;
}

.slider-container {
  margin-top: 112px;
  width: 100%;
  /* background: #48ff7b; */
  border-radius: 20px;
}

button.enter-button {
  width: 170px;
  height: 60px;
  font-weight: 700;
  margin-left: 30px;
  display: block;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 20px;
  padding: 0;
  cursor: pointer !important;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 5px;
  border-radius: 25px;
  background-color: var(--para-clr);
  content: "";
  text-align: center;
  /* opacity: 1; */
  margin-top: 20px;
}
.slick-prev:before, .slick-next:before{
  opacity: 1 !important;
}

/* button.slick-arrow.slick-prev {
  display: none !important;
}
button.slick-arrow.slick-next {
  display: none !important;
} */
/* .slick-next {
  transform: translate(-185%, -50%) !important;
} */

/* .slick-prev {
  transform: translate(89%, -50%) !important;
} */



.slick-prev:before,
.slick-next:before {
  color: #FEC200 !important;

  font-size: 2.5rem;
}

.slick-prev,
.slick-next {
  z-index: 1 !important;
}

/* .slick-prev{
  left: -50px !important;
} */

@media screen and(max-width:912px) {
  .slider-container {
    width: 100%;
  }

  img.safu-img {
    width: 250px;
    margin: 50px 30px 20px;
  }

  img.game-img {
    width: 250px;
    display: block;
    margin: auto;
  }
}

@media screen and(max-width:480px) {
  .slider-container {
    width: 100%;
  }
}

.slick-active button {
  color: #000000 !important;
}

.slick-dots li.slick-active button:before {
  color: #48ff7b !important;
  background-color: var(--para-clr) !important;
}

#enter-12 {
  color: black !important;
}
.slick-prev {
  left: -5px !important;
}
.slick-next {
  right: 15px;
}
@media screen and (max-width:768px) {
  .slick-prev {
    left: 5px !important;
  }
}