.background-newsletter{
    background-image: url(../Images/resouces-newsletter-img.png);
    /* width: 1440px ; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0rem;
    /* height: 873.42px; */

}
.use-section{
    padding-top: 5rem;
}
.containsection{
    /* width: 1231.43px; */
    /* height: 600px; */
    background: #FFFFFF;
    border-radius: 20px;
}
.news-para{
    font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 20px;
color: #6A6A6A !important;
}
.head-news{
    font-family: 'Futura Maxi CG Bold';
font-style: normal;
font-weight: 400;
font-size: 2rem !important;
line-height: 35px !important;
color: #000000 !important;
margin-top: 80px;
}
.sectionimg{
    margin-top: 70px;
    width: 100%;
}
.input-email{
    /* width: 480px; */
    width: 100%;
height: 53.4px;
/* left: 690.11px;
top: 265.67px; */

border: 1px solid #D9D9D9;
border-radius: 9.92153px;
}
.input-email::placeholder{
    font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 126% !important;
color: #6A6A6A !important;
padding-left: 15px !important;
}
.subs-button{
    margin-top: 10px;
    width: 155px !important;
height: 56px !important;
background: #FEC200;
border-radius: 15px;
border: none;
font-family: 'Century Gothic';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
align-items: center;
color: #101010;
}
@media screen and (max-width:991px) {
    .head-news {
        margin-top: 0px;
    }
    .sectionimg{
        margin-top: 20px;
    }
}