.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
  color: black !important;
  border-bottom: 3px solid black !important;
  border-radius: 0px !important;
  opacity: 1;
}
.nav-pills .nav-link {
  color: black;
  opacity: 0.5;
  font-size: 1.5rem;
  font-family: "Futura Maxi CG Bold";
}
.nav-pills .nav-link:hover {
  color: black;

}
.dropdown-tab-origin {
  margin-left: auto;
}
@media screen and (max-width:768px) {
    .nav-pills .nav-link {
        color: black;
      
        font-size: 1rem;
        font-family: "Futura Maxi CG Bold";
      }
      #button-22{
        font-size: 1rem;
      }
}