.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

 background-color: transparent !important;
    color: black !important;
    border-bottom: 3px solid black !important;
    border-radius: 0px !important;
    opacity: 1;
}
.nav-pills .nav-link{
    color: black;
    opacity: 0.5;
}
.dropdown-tab-origin{
margin-left: auto;
}