.background-images-collections{
    background-image: url(./Collection-images/Rectangle719.png);
    width: 1440px ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 485px;
}
.profile-setting-img{
    margin-top: -170px;
    /* margin-left: 100px; */
}
.profile-name-inside{
    /* margin-left: 100px; */
    margin-top: 10px;
    font-family: 'Futura Maxi CG Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
}
.icons-collections-inside{
    float: right;
    margin-top: 30px;
}
.icons-setting-width{
    margin-left: 15px;
}
.icons-setting-width11{
    margin-left: 15px;
    margin-right: 30px;
}
/* .sub-title-profile{
    margin-left: 100px;
} */
.collection-inside-bio{
    font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
align-items: center;
color: #6A6A6A !important;
margin-top: 20px;
}
.see-button{
    background: linear-gradient(130.18deg, rgba(188, 188, 188, 0.21) 54.86%, rgba(71, 71, 72, 0.12) 97.18%);
    border-radius: 13.8265px;
    border: none;
    padding: 5px 8px;
}
.content-collection-data{
    /* margin-left: 80px !important; */
    margin-top: 40px !important;
}
.eth-section{
font-family: 'Futura Maxi CG Bold';
font-style: normal;
font-weight: 400 ;
font-size: 18px;
line-height: 19px;
align-items: center;
color: #000000;
}
.co-volume-section{
    font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
align-items: center;
color: #6A6A6A;
}
/* .section-collec{
    margin-left: 80px !important;
} */
.reload-bu{
width: 46.74px;
height: 48px;
background: rgba(246, 246, 246, 0.5);
border-radius: 15px;
margin-top: 15px;
text-align: center;
}
.reolad-tfi-bu{
    margin-top: 15px;
    color: #6A6A6A;
    font-size: 20px;
    font-weight: 900;
}
.filterlist-icons{
    margin-top: 10px;
}
.view-bu-collection{
    width: 91.72px;
height: 48px;
background:  rgba(246, 246, 246, 0.5) !important;
border-radius: 15px;
padding: 15px;
}
.vv-bu1{
    background: #fff;
    border-radius: 5px;
    margin-right: 15px;
    padding: 5px;
}
.price-ac{
    color: #000000 !important;
}
.accordion-collect{
    border-bottom: none !important;
    width: 320px !important;
}
/* .side-bar-collection{
    margin-left: 80px !important;
} */
/* .coll-accordion-section{
    margin-left: -14px !important;
} */
.bu-toggle{
    display: flex;
    justify-content: space-between;
}
.check-box-bu{
    margin-top: -7px;
}
.status-tag{
    font-family: 'Futura Maxi CG Book' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: #000000 !important;
    margin-bottom: 25px ;
}
.bu-nw-tag{
    font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #6A6A6A;
}
.end-time-card{
    font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;
color: #6A6A6A;
}
.cards-title-name{
    font-family: 'Futura Maxi CG Book' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 14px !important;
line-height: 15px !important;
color: #353535 !important;
}