.background-images-collections{
    background-image: url(./Collection-images/Rectangle719.png);
    width: 1440px ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 485px;
}
.profile-setting-img{
    margin-top: -170px;
    margin-left: 100px;
}
.profile-name-inside{
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Futura Maxi CG Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
}
.icons-collections-inside{
    float: right;
    margin-top: 30px;
}
.icons-setting-width{
    margin-left: 15px;
}
.icons-setting-width11{
    margin-left: 15px;
    margin-right: 30px;
}
.sub-title-profile{
    margin-left: 100px;
}
.collection-inside-bio{
    font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
align-items: center;
color: #6A6A6A !important;
margin-top: 20px;
}
.see-button{
    background: linear-gradient(130.18deg, rgba(188, 188, 188, 0.21) 54.86%, rgba(71, 71, 72, 0.12) 97.18%);
    border-radius: 13.8265px;
    border: none;
}