.button-section990 {
  max-width: 766px;
  max-height: 53px;
  background: #f6f6f6;
  border-radius: 10px;
  /* margin-left: 100px; */
}
.earning-content {
  font-family: "ITC Avant Garde Gothic Std" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  letter-spacing: 0.005em !important;
  color: #6a6a6a !important;
}
.earnigs-head {
  font-family: "Futura Maxi CG Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
.earning-box {
  margin-top: 40px;
  margin-left: 30px;
  width: 80%;
}
.earning-content1102 {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 126% !important;
  color: #383737 !important;
  text-align: center !important;
  padding: 20px;
}
@media screen and (max-width:1200px) {
  .earning-box{
    width: 100%;
  }
}
@media screen and (max-width:767px) {
  .earning-box{
    width: 95%;
  }
}
@media screen and (max-width:980px) {
  .earning-box{
    margin: 20px;
  }
}

/* @media screen and (max-width:1037px) {
  .button-section990{
    max-height: 70px;
  }
}
@media screen and (max-width: 1072px) {
  .earning-content1102 {
    padding: 15px;
  }
}
@media screen and (max-width:853px) {
  .button-section990{
    max-height: 85px;
  }
}
@media screen and (max-width:756px) {
  .earning-content1102 {
    padding: 0px;
  }
} */
