.button-section990 {
  width: 766px;
  height: 53px;
  background: #f6f6f6;
  border-radius: 10px;
  /* margin-left: 100px; */
}
.earning-content {
  font-family: "ITC Avant Garde Gothic Std" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  letter-spacing: 0.005em !important;
  color: #6a6a6a !important;
}
.earnigs-head {
  font-family: "Futura Maxi CG Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
.earning-box {
  margin: 100px;
}
.earning-content1102 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 126%;
  color: #383737 !important;
  text-align: center;
  padding-top: 18px;
}
