.row.side-bar {
  display: grid;
  border-right: 1px solid rgb(80, 79, 79);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    height: 800px; */
}
.side-items {
  font-family: "Futura Maxi CG Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #6a6a6a;
}
.side-bar {
  width: 272px;
  height: 56px;
display: flex;
  background: 	rgb(254, 194, 0,0.15);
  align-items: center;
}
.side-bar1{
    width: 272px;
    height: 56px;
  display: flex;
  align-items: center;
}
ul{
    list-style: none;
}
.section-list{
    /* width: 272px; */
height: 40px;
margin-top: 10px;
}
.content-style{
font-family: 'Futura Maxi CG Bold';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
letter-spacing: 0.005em;
color: #6A6A6A;
}
.icons-tabs{
    color: #6A6A6A;
    margin-right: 10px;
}
.iconsddd{
    margin-right: 10px;
}
.listed-section{
    margin-top: 50px;
}
.setting-sections{
    font-family: 'Futura Maxi CG Bold';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 120%;
align-items: center;
letter-spacing: 0.005em;
color: #6A6A6A;
}
.section-color{
    box-shadow: 3px 0px 10px #a1a1a1;
}