@font-face {
    font-family: 'Futura Maxi CG Bold';
    src: url("../src/futura-maxi-cg-bold-maisfontes.ca68/futura-maxi-cg-bold.otf");
  }
  @font-face {
    font-family: 'Futura Maxi CG Book';
    src: url("../src/futuramaxicgbook/Futura\ Maxi\ CG\ Book.otf");
  }
  @font-face {
    font-family: 'Century Gothic';
    src: url("../src/century-gothic/Century\ Gothic.ttf");
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
  
  
  section {
    background-image: linear-gradient(to right, #47474a, #73525c);
  }
h1{
font-family: 'Futura Maxi CG Bold';
font-style: normal;
font-weight: 600;
font-size: 50px !important;
line-height: 42px;
color: #FFFFFF;
}
.h2{
  font-family: 'Futura Maxi CG Bold';
  font-style: normal;
  font-weight: 400;
  font-size: 64px !important;
  line-height: 66px;
  color: #FFFFFF;
}
.button-primary{
width: 155px;
height: 56px;
background: #E6E6E6;
border-radius: 15px;
border: none!important;
font-family: 'Century Gothic' !important;
font-style: normal;
font-weight: 800;
font-size: 16px !important;
line-height: 20px;
align-items: center;
color: #101010;
}
#button-1{
  width: 200px !important;
  height: 56px;
  background: #E6E6E6;
  border-radius: 15px;
  border: none!important;
  font-family: 'Century Gothic' !important;
  font-style: normal;
  font-weight: 800;
  font-size: 16px !important;
  line-height: 20px;
  align-items: center;
  color: #101010;
padding: 18px 48px;
text-decoration: none;
}
.button-secondary{
    width: 155px;
height: 56px;
background: #FEC200;
border-radius: 15px;
border: none!important;
font-family: 'Century Gothic' !important;
font-style: normal;
font-weight: 800;
font-size: 16px !important;
line-height: 20px;
align-items: center;
color: #101010;
}
#button-2{
  width: 200px !important;
height: 56px !important;
background: #FEC200;
border-radius: 15px;
border: none!important;
font-family: 'Century Gothic' !important;
font-style: normal;
font-weight: 800;
font-size: 16px !important;
line-height: 20px;
align-items: center;
color: #101010;
text-decoration: none;
padding: 18px 48px;
}

h3{
  font-family: 'Futura Maxi CG Bold' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 25px !important;
line-height: 26px !important;
/* identical to box height */
align-items: center;
color: #000000 !important;
margin-top: 50px !important;
margin-bottom: 50px !important;
}
.h4{
  font-family: 'Futura Maxi CG Bold';
  font-size:'16px'
}
 p{
  font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;

align-items: center;
color: #FFFFFF !important;
}