#toggleButton {
    float: right;
    font-size: 2rem;
    color: var(--white) !important;
  }
  button#toggle-Button {
    float: right;
    color: white;
    font-size: 2rem;
  }
  .sidebar-list,
  .sidebar-list-img {
    list-style-type: none;
    margin-bottom: 3rem;
  }
  .sidebar-list li {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
  }
  