.nav-list,
.nav-icon {
  display: flex;
  list-style-type: none;
  float: right;
  font-size: 2rem;
  color: var(--white);
  font-weight: 600;
  margin-top: 10px;
}
.nav-list li,
.nav-icon li {
  margin-right: 2rem;
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 600;
  /* color: white !important; */
}
.origin-logo {
  margin-top: 11px;
}
.navbar {
  /* background: rgba(166, 166, 166, 0.5) !important; */
  position: fixed !important;
  top: 0;
  z-index: 2;
  background-image: url();
}
.toggle-btn {
  float: right;
  font-size: 2rem !important;
}
.dropdown-item {
  font-family: "Futura Maxi CG Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  /* display: flex; */
  align-items: center;
  /* color: #353535; */
}
.li-section {
  border-bottom: 0.5px solid rgb(169, 168, 168);
  padding: 5px 0px;
  margin-right: 0px !important;
}
.ic {
  margin-right: 5px;
}
.discord {
  /* color: grey; */
  font-size: 25px;
}
.tele {
  /* color: grey; */
  font-size: 25px;
}
.face {
  color: rgb(6, 6, 6);
  font-size: 25px;
}
.insta {
  /* color: grey; */
  font-size: 25px;
}
.twitter {
  /* color: grey; */
  font-size: 25px;
}
.tik {
  /* color: grey; */
  font-size: 25px;
}
.cart-menu {
  font-family: "Futura Maxi CG Bold" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 20px;
  display: flex;
  align-items: center;
  /* color: #6a6a6a; */
  padding: 10px !important;
}
.para-li {
  font-family: "Futura Maxi CG Book" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 10px !important;
  line-height: 15px;
  align-items: center;
  /* color: #6a6a6a !important; */
  margin-left: 10px;
}
.dropdown-menu.card-section {
  margin-left: -180px;
  width: 200px;
  height: 220px;
}
.imgback {
  width: 198px;
}
.dropdown-menu.card-section.image-bg {
  background-image: url('./Navimg/Rectangle 684.png');
  background-repeat: no-repeat;
  /* width: 340px; */
 
  
}
.form-switch{
  padding-left: 1.5rem !important;
}
.navbar{
  background-color: rgba(194, 194, 194, 0.5);
}

.card-section-button {
  height: 32px;
  left: 39.34px;
  top: 267.78px;
  /* background: #e6e6e6; */
  border-radius: 10px;
  font-size: 12px;
  margin-left: 25px;
  margin-top: 65px;
  border: none;
}
a.dropdown-item{
  margin: 0.3rem 0rem;
}
ul.dropdown-menu.show {
  width: 210px;
}
ul.dropdown-menu.show-profile.show {
  margin-left: -40px;
}
.ios-switch{
  margin-top: 0px !important;
}
.form-check.form-switch.text-light {
  padding-left: 0px;
}
.cart-box-section{
  width: 30%;
  height: 100%;
background: white;
border-radius: 15px;
}
.num-redco{
  border: 0.5px solid black;
  border-radius: 100px;
  /* padding: 5px; */
  font-size: 1rem;
  padding: 5px
 10px 5px 10px !important;
 background: #FEC200;
    border: none;
}
.loop-section{
  font-size: 1rem;
}
.amount-cart-item{
  font-size: 1rem;
  color: #535353;
  font-family: "Poppins";
  font-weight: 600;
  float: right;
}
.loop-section1{
  font-size: 0.7rem;
  font-family: "Poppins";
  font-size: normal;
  font-weight: 400;
  color: #535353;
  line-height: 23px;
}
.beg-section{
font-family: 'Futura Maxi CG Bold';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 23px;
align-items: center;
color: #000000;
}
.section-eth-amount{
  background: linear-gradient(130.18deg, rgba(188, 188, 188, 0.21) 54.86%, rgba(71, 71, 72, 0.12) 97.18%);
border-radius: 15px;
padding: 10px;
display: flex;
}
.section-eth-amount1{
  background: #000;
border-radius: 15px;
padding: 10px;
text-align: center;
}
.check-out11{
font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 126%;
color: #FFFFFF;
text-align: center;
}
.check-out122{
  font-family: 'Futura Maxi CG Book';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 126%;
/* identical to box height, or 23px */
text-decoration-line: underline;
text-align: center;
color: #FEC200;
}
.hhun{
  text-align: center;
}
.cor-dd{
background: #FEC200;
border: 1px solid #FEC200;
border-radius: 100px;
font-size: 7rem !important;
color: #FFFFFF;
}
.purchse-com{
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 126%;
color: #FEC200;
}
.pur-div{
  text-align: center;
  margin-top: 20px !important;
}
.item-se{
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 126%;
color: #202020;
}
.chek{
  text-align: center;
}
.icons-cross{
  margin-left: 130px;
}
.ethllo{
  text-align: end;
}

/* media query */

@media screen and (max-width: 1200px) {
  .navbar-desktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .toggle-btn {
    display: none;
  }
}
